@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #E4E9F7;
}

nav {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 70px;
    /* width: 280px; */
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
}

nav:hover {
    width: 280px;
    transition: 0.5s;
}

.logo {
    text-align: center;
    display: flex;
    margin: 15px 0 0 15px;
    padding-bottom: 30px;
    align-items: end;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 6px;

}


.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    width: 280px;
    font-size: 14px;
    color: #707070;
    display: table;
    padding: 10px 0 20px 0;

}

nav .fa-solid {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 0;
    font-size: 15px;
}

a:hover {
    background: whitesmoke;
}

a:hover.item {
    background: blue;
    color: whitesmoke;
    font-weight: 600;

}

a:hover i {

    color: white;
    transition: 0.1s;
}

.logout {
    position: absolute;
    bottom: 0;
}

.logout:hover {
    background: blue;
    color: whitesmoke;
    font-weight: 600;
}

.container {
    display: flex;

}


.main{
    position: relative;
    padding: 20px;
}

.main table{
    position: relative;
    padding: px;
}

